<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Shipping Address</ion-card-subtitle>
      <ion-card-title>Lucky Masharane</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <address>
       3727 cowfish street,<br/>
       kaalfontein ext 7A,<br/>
       midrand,<br/>
       1632
     </address>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Payment Method</ion-card-subtitle>
      <ion-card-title><ion-icon name="card-outline"></ion-icon></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let product of cart ">
      <ion-thumbnail slot="start">
        <ion-img src={{product.product.picture}}></ion-img>
      </ion-thumbnail>
      <ion-label>{{product.product.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab  vertical="bottom"  horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
