<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shopping Cart <ion-icon style="float: right;" name="cart-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div *ngIf="!cartList" style="text-align: center; margin-top: 50px;">
    <ion-spinner name="bubbles" color="danger" ></ion-spinner>
  </div> -->

  <ion-list>
    <ion-item *ngFor="let product of cart ">

      <ion-card>
        <ion-card-header>
          <img src={{product.picture}} class="card-img-top" alt="...">
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-icon name="pricetag-outline"></ion-icon>
            <ion-label>{{product.name}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="document-text-outline"></ion-icon>
            <ion-label>{{product.description}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="wallet-outline"></ion-icon>
            <ion-label>{{product.price}}</ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Total : {{Total}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-button (click)="checkout()"color="warning" style="float: right;">checkout</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>