<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shopping Cart <ion-icon style="float: right;" name="cart-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div *ngIf="!cartList" style="text-align: center; margin-top: 50px;">
    <ion-spinner name="bubbles" color="danger" ></ion-spinner>
  </div> -->

  <ion-list>
    <ion-item *ngFor="let product of cart ">
      <ion-thumbnail slot="start">
        <ion-img src={{product.product.picture}}></ion-img>
      </ion-thumbnail>
      <ion-label>{{product.product.name}}</ion-label>
      <ion-label>{{product.product.price}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Total : {{Total}}</ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-button (click)="checkout()"color="warning" style="float: right;">checkout</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>